<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
  <property name="hibernate.connection.password">U_DEV</property>
  <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:ORCL</property>
  <property name="hibernate.connection.username">U_DEV</property>
  <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
<!--   <mapping class="com.hib.e1.Employee"/> -->
<!--   <mapping class="com.hib.e1.RegEmployee"/> -->
<!--   <mapping class="com.hib.e1.ConEmployee"/> -->
  <mapping class="com.hib.e1.Employee1"/>
  <mapping class="com.hib.e1.RegEmployee1"/>
  <mapping class="com.hib.e1.ConEmployee1"/>

 </session-factory>
</hibernate-configuration>
